<div class="card chart">
    <div class="card-body">
        <div class="card-head d-flex justify-content-between">
            <div class="cardTopLeft">
                <h5 class="card-title">إحصائيات إستخدام القسيمة</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    05 يوليو , 2023 - 05 أغسطس , 2023
                </h6>
            </div>
            <div class="cardTopRight">
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        سنويا
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="chart">
            <canvas id="splineChart" width="400" height="85"></canvas>
        </div>
    </div>
</div>
