<div class="card ticket">
    <div class="card-body">
        <div class="circle-left"></div>
        <div class="circle-right"></div>
        <div class="ticket-header">
            <label class="text-center">عرض التذكرة الخاصة بالفيلم</label>
            <span data-title="حذف" class="delet-ticket"><img src="../../../assets/images/trash.png" /></span>
        </div>
        <span class="ticket-link d-flex text-center">  <p>www.tazkty.com/473847</p>  <img src="../../../assets/images/Vector.png" /> </span>
        <p class="text-center mt-2 date-ticket">فعال حتي 15 يوليو 2023</p>
        <div class="d-flex justify-content-between align-items-center custom-container ticket-bottom " >
            <div class="share">
                <div class="d-flex flex-column flex-wrap"><span class="discount">حضم</span>
                    <div class="d-flex flex-wrap"> <span class="percent">25%</span> <button class="share-ticket"><img src="../../../assets/images/send-2.png" /> مشاركة</button></div>
                    </div>
              
            </div>
        <img src="../../../assets/images/qr_img 1.png" />
        </div>
    </div>
</div>